<nav class="navbar navbar-default">

    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" ui-sref="welcome">AngularJS-IL</a>
        </div>

        <ul class="nav navbar-nav">
            <li><a ui-sref="welcome">Welcome</a></li>
            <li><a ui-sref="compile">Compile</a></li>
            <li><a ui-sref="digest">Digest</a></li>
            <li><a ui-sref="repeater">Repeater</a></li>
            <li><a ui-sref="playground">playground</a></li>
        </ul>

        <a class="navbar-text navbar-right" href="mailto:Nir@500tech.com">Nir@500tech.com</a>

    </div>
</nav>